<% provide(:header, "Log History") %>
<% title("Activity Log") %>
<div class="span4" id="log-entries">
	<table class="table">
		<tbody>
			<% @activity_log.recent_log_entries.each do |row| %>
				<tr <%= "class=highlight" if row[0] == Date.today %>>
					<td>
							<%= link_to row[0].strftime('%A, %b %e'), 
													log_entry_url(row[1],row[2]) %>
					</td>
					<td class="number"><%= row[3] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>