<div class='span9'>
	<h3>Summary Table</h3>
	<div class="span8">
		<table class="table">
			<tbody>
				<% @table.each do |row| %>
					<tr>
						<td><%= row[0].code %></td>
						<td><%= row[0].name %></td>
						<td><%= row[1] || 0 %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<p>
		<%= link_to "Back to Survey", [@activity_log.survey, @activity_log], class: "btn" %>
	</p>