<div class='span4'>
	<h3>Summary Table</h3>
	<div class="span3">
		<table class="table">
			<tbody>
				<% @table.each do |row| %>
					<tr>
						<td><%= row[0] %>
						<td><%= (row[1] * 100).round(2) %>%</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<p>
		<%= link_to "Back to Survey", @survey, class: "btn" %>
	</p>
</div>